body {
 min-height: 100vh;
 margin: 0;
 padding: 0;
 font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
 box-sizing: border-box;
}

html, body {
  overflow-x: hidden; /* Prevent horizontal scroll */
}

:root {
  --main-brand-color: #2E8B57;
  --transition-duration: 0.4s;
}

/*Nav content*/
nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
}

#brand_logo {
  height: 80px;
  max-width: 80px;
  transition: height 0.4s, padding 0.4s;
} 

nav .brand_name {
  text-decoration: none;
  margin: 0 auto;
}

.brand_name h1 {
  color: white;
  font-size: 48px;
  transition: font-size 0.4s;
}

.bar1,
.bar2,
.bar3 {
  background-color: white;
  width: 35px;
  height: 5px;
  margin: 6px 6px;
  cursor: pointer;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg)
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: #111;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: #818181;
  font-size: 24px;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: #f1f1f1
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
/*End of Nav Content

/* MAIN CONTENT */

/*Hero Section*/
.display_image_container {
  padding: 0px 10px 20px 10px;
}

.display_image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero_img.jpeg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}
/*End of Hero Section*/


.intro_section {
  background-color: var(--main-brand-color);
  text-align: center;
  padding: 30px 75px;
}

section h1 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 32px;
}

.gallery_section {
  text-align: center;
  color: black;
  background-color: #D3D3D3;
}

.gallery_section .tagline_container {
  padding: 10px 0px;
}

div.scroll_container {
  background-color: #D3D3D3;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 5px 20px ;
}

div.scroll_container img {
  margin: 5px;
  border: 2px solid black;
  border-radius: 20px;
  height: 30vh;
  max-width: 80vw;
}

.contact_section {
  padding: 30px 10px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
}

.tagline_container {
  width: 120px;
  margin: 0 auto;
}

.tagline_border {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.tagline {
  margin: 0px;
  padding: 8px 0px;
  font-size: 20px
}

.contact_btn,
.read_more {
  border: 2px solid black;
  border-left: 3px solid #2E8B57;
  padding: 9px 25px;
  color: black;
  font-size: 1.2em;
  transition: 0.4s;
}

.contact_btn:hover,
.read_more:hover {
  background-color: black;
  color: white;
}
/* END MAIN CONTENT*/

footer {
  width: 100%;
}

.contact_footer {
  background-color: #66CDAA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px 10px;
  height: 150px;
  font-size: 16px;
}

.contact_details a {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
  padding: 0px;
  transition: 0.4s;
}

.logo_footer {
  height: 100px;
  max-width: 100px;
  padding: 0px;
}

.legal_footer {
  background-color: #2E8B57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 16px;
}

.legal_footer p,
.legal_footer a {
  text-decoration: none;
  color: white;
  transition: 0.4s
}

.contact_details a:hover,
.legal_footer p:hover,
.legal_footer a:hover {
  color: black;
}
